@import '@fontsource/manrope';
@import '@fontsource/bebas-neue';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='vintage'] {
	 --theme-font-family-base: 'Manrope', sans-serif;
   --theme-font-family-heading: 'Manrope', sans-serif;
   --theme-font-family-display: 'Bebas Neue', sans-serif;
}
