@import '@fontsource/manrope';
@import '@fontsource/bebas-neue';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	font-family: 'Manrope', sans-serif;
 	--font-sans: 'Manrope', sans-serif;
 	--font-title: 'Bebas-Neue', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}
